/*----------------- VARIABLES ---------------*/
:root {
    --beige: #EEE7E4;
    --blue: #093447;
    --orange: #dca63a;
    --red: #b94834;

    --text-dark: #222;
    --radius: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding-top: 100px;
}

h2 {
    text-transform: uppercase;
}

h4 {
    padding: 10px;
    font-weight: normal;
}

/*----------------- HEADER ---------------*/

header {
    background: var(--beige);
    padding: 1px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.5s ease;
}

header.scrolled {
    background: var(--blue);
    padding: 10px 0;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.scrolled .header-content {
    justify-content: center;
}

header nav {
    display: flex;
    gap: 20px;
}

header.scrolled nav {
    flex: 1;
    justify-content: center;
    gap: 50px;
    height: 65px;
    align-items: center;
}

.logo {
    height: 100px;
    /* transition: 0.3s; */
}

header.scrolled .logo {
    display: none;
}

nav a {
    /* margin-left: 20px; */
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    transition: 0.3s;

    position: relative;
}

nav a:focus {
    outline: 2px solid currentColor;
    outline-offset: 4px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

header.scrolled nav a {
    color: white;
}

/* ----------- HERO ----------- */

.hero {
    background: linear-gradient(135deg, #093447, #0b4656);
    color: white;
    text-align: center;
    padding: 120px 20px 140px 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.6rem;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero h1 span {
    font-weight: 300;
    font-size: 1.9rem;
    display: inline-block;
    margin-top: 5px;
    opacity: 0.9;
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.95;
    margin-bottom: 35px;
}

.hero-btn {
    background: #dc9b1b;
    padding: 14px 32px;
    border-radius: 8px;
    color: #093447;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s ease;
}

.hero-btn:hover {
    background: #ffb83f;
    transform: translateY(-2px);
}


/*----------------- SECTIONS ---------------*/

.section-beige {
    background: var(--beige);
    padding: 80px 20px;
}

.section-orange {
    background: var(--orange);
    padding: 80px 20px;
}

.section-red {
    background: var(--red);
    padding: 80px 20px;
}

.section-beige h2,
.section-orange h2,
.section-red h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--blue);
    margin-bottom: 40px;
}

/*----------------- METHODES ---------------*/

.methods {
    padding: 80px 20px;
}

.methods h2 {
    text-align: center;
    margin-bottom: 60px;
    color: var(--blue);
}

.method-block {
    display: grid;
    grid-template-columns: 6px 1fr;
    gap: 25px;
    align-items: start;
    max-width: 900px;
    margin: 0 auto 45px auto;
}

.method-line {
    background: var(--blue);
    border-radius: 4px;
    height: 100%;
}

.method-text h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--blue);
}

.method-text p {
    line-height: 1.6;
    max-width: 650px;
}

/* Mobile */
@media (max-width: 700px) {
    .method-block {
        flex-direction: row;
    }

    .method-line {
        height: auto;
    }
}


/*----------------- TEAM ---------------*/

.team-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.team-card {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: var(--radius);
    text-align: center;
}

.photo {
    width: 150px;
    height: 150px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 auto 25px;
}

/*----------------- TARIFS ---------------*/

.tarif-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.tarif-card {
    background: white;
    padding: 30px;
    border-radius: var(--radius);
    min-width: 250px;
    text-align: center;
}

/*----------------- RESERVER ---------------*/

.calendar-placeholder {
    background: white;
    padding: 40px;
    border-radius: var(--radius);
    max-width: 700px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px #0002;
}

.btn-reserver {
    display: block;
    margin: 40px auto 0;
    padding: 15px 40px;
    background: white;
    border: none;
    color: var(--blue);
    font-weight: bold;
    border-radius: var(--radius);
    cursor: pointer;
    transition: 0.3s;
}

.btn-reserver:hover {
    background: #f3f3f3;
}

/*----------------- FOOTER ---------------*/

.footer {
    background: #093447;
    color: white;
    padding: 50px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    gap: 40px;
}

.footer-left img {
    width: 45px;
    margin-bottom: 10px;
}

.footer h4 {
    margin-bottom: 12px;
    font-weight: 600;
    color: #ffffff;
}

.footer a {
    color: #e3e3e3;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

